{% extends 'base.html' %}

{% block title %}TrackCat Member{% endblock %}

{% block content%}

	<header>
		<h1>Member's Profile</h1>
	</header>

	<div class="row">
  		<div class="memper_profile">
  			<div class="col-md-12">
				<h2>{% if user.fullname %}
							{{ user.fullname }} 
					{% else %}
							{{ user.username }}
					{% endif %}'s profile</h2>
					{% for field in form %}
						{{ field.error }}
					{% endfor %}
			</div>
  			<div class="col-md-4">
    			<img src="/static/img/petra.png">
  			</div>
  			<div class="col-md-8">
  				{% if user.username %}
    				<p>GitHub: {{ user.username }}</p>
    			{% endif %}
  			</div>
		</div>
	</div>



		</div>	
		<div class="row">	
			<div class="col-md-4">
				<img src="% static "img/petra.png" %}" class="img-responsive" alt="Responsive image">
			</div>
			<div class="col-md-8">
				<ul class="memberprofile_list">
					<li><a href="https://facebook.com/petra.vidmar.14"><i class="fa fa-facebook"></i></a></li>
					<li><a href="https://github.com/PettraV"><i class="fa fa-github"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
{% endblock content%}